<header>
  <div class="header-container">
    <a href="/" class="logo">CSE Motors</a>
    
    <button class="mobile-menu-btn">☰</button>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
        <li><button class="account-btn">My Account</button></li>
      </ul>
    </nav>
  </div>
</header>