<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    
    <%- body %> <!-- Aquí se inyectará el contenido específico de cada vista -->
    
    <%- include('../partials/footer') %>
  </div>
</body>
</html>